// All Colors
$black: #000;
$white: #fff;
$blue: #04357f;
$yellow-light: #fff7e0;
$blue-light: #e0edfe;
$grey-bg: #ececea;
$brown: #241905;
$grey-footer: #fbf9f4;
$social-bg: #453d2d;
$copyright-color: #453d2d;
$aqua-marine: #7ad4ab;
$deep-sky-blue: #4bd0e0;
$grey: #616161;
// All Button Colors
$btn-blue-bg: #04357f;
$btn-sky-blue-bg: #4b83d8;
$btn-yellow-bg: #ffdf00;
$btn-gold-bg: #f93;
$btn-green-bg: #9c3;
$btn-go-advanced-bg: rgb(75, 137, 222);
$btn-white-color: #fff;
$btn-blue-color: #04357f;
$btn-go-solar-color: #22a3f6;
$btn-need-backup-bg: rgb(90, 178, 246);
// shadows
$btn-blue-shadow: 0px 3px 18px 0px rgba(10, 35, 73, 0.47);
$btn-sky-blue-shadow: 3.694px 4.728px 9.2px 0.8px rgba(62, 116, 197, 0.65);
$btn-yellow-shadow: 3.694px 4.728px 9.2px 0.8px rgba(230, 205, 34, 0.65);
$btn-gold-shadow: 3.694px 4.728px 9.2px 0.8px rgba(255, 153, 51, 0.65);
$btn-green-shadow: 3.694px 4.728px 9.2px 0.8px rgba(153, 204, 51, 0.65);
$btn-go-solar-shadow: 3.694px 4.728px 9.2px 0.8px rgba(61, 179, 255, 0.65);
$btn-go-advanced-shadow: 3.694px 4.728px 9.2px 0.8px rgba(97, 116, 130, 0.3);
$btn-need-backup-shadow: 3.694px 4.728px 9.2px 0.8px rgba(97, 116, 130, 0.3);
// borderrs
$border-none: none;
// Container width and gutter spacing
$max-width: 1280px;
$gutter-left: 15px;
$gutter-right: 15px;
// Fonts
$family-lato: 'Lato',
sans-serif;
$bold: 700;
$normal: 400;
$black: 900;
$font-size-calculator-title: 18px;
// List of border color for grid system boxes
$border-colors: #4b97e0 #ffc900 #7ad4ab #4bd0e0 #63c811 #ff874c;
// List of background images used for @card-home
$cards-home: card-bg-1 card-bg-2 card-bg-3 card-bg-4 card-bg-5 card-bg-6 card-bg-7 card-bg-8 card-bg-9;
// Mandatory Field 
$mandate-field: #f00;
